body {
	background-color: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 12.0vw;
	letter-spacing: -0.8vw;
	padding-top: 20px;
	margin-bottom: -2%;
	color: white;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 4.0vw;
	letter-spacing: 0px;
	margin-bottom: 0;
	color: white;
}

iframe {
	margin-left: 50px;
	width: 30%;
	height: 40%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 2.0vw;
	letter-spacing: 0px;
	color: white;
}

#background {
	z-index: -1;
	min-height: 100%;
	min-width: 1500px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1500px) {
	#background {
		left: 50%;
		margin-left: -750px;
	}
}

#wrapper {
	margin: 0 auto;
	/*padding-top: 1px;*/
	/*padding: 15px 0 0 0;*/
}