html, * {
	margin: 0;
	padding: 0;
}

main {
	width: 100vw;
	/* height: 100vh; */
}

#bg-div {
	z-index: -1;
}

#background {
	z-index: -1;
}

p, ul {
	margin: 0 2vw;
	z-index: 1;
	position: absolute;
	width: 90vw;
}

#about {
	top: 4%;
}

#links {
	bottom: 2vh;
	list-style-type: none;
	right: -2vw;
}

#links li {
	display: inline;
	float: right;
	margin-right: 2vw;
}

h1, span {
	padding: 0.5%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 16pt;
	/* background: rgba(0, 0, 255, 0.7); */
	color: blue;
	background: white;
	border-radius: 2px;
	/* color: white; */
	opacity: 1;
	text-align: justify;
	display: inline-block;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

h1 {
	top: 4%;
	margin: 0 2vw;
	font-size: 24pt;
	font-weight: 700;
	position: absolute;
}

#links li span {
	padding: 2.0%;
}

a {
	/* color: white; */
	color: blue;
	background: white;
	border-radius: 2px;
	/* color: white; */
	opacity: 1;
	text-align: justify;
	display: inline-block;
	/* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
	/* -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
	/* -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
	text-decoration: underline;
	-webkit-transition: text-decoration 0.5s;
	-moz-transition: text-decoration 0.5s;
	transition: text-decoration 0.5s;
}

a:hover {
	text-decoration: none;
	-webkit-transition: text-decoration 0.5s;
	-moz-transition: text-decoration 0.5s;
	transition: text-decoration 0.5s;
}

img, .slide {
	width: 90vw;
	margin: 5vh 5vw;
	border-radius: 5px;
	box-shadow: 10px 20px 30px dimgray;
	-webkit-box-shadow: 10px 20px 30px dimgray;
	-moz-box-shadow: 10px 20px 30px dimgray;
}

iframe {
	height: 50.625vw;
	border-radius: 5px;
}
